/* .border {
  border: 1px solid red;
} */

body {
  display: flex;
}

.border {
  border: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
}



main {
  width: 100%;
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  padding: 4rem;

  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

.page-title-block {
  margin-bottom: 2rem;
}

.page-title-block > h2 {
  margin-top: 1rem;
}

.content {
}

#shell {
}

#shell-prompt {
  color: #84cc16;
}

#shell-prompt-tilde {
  color: #0ea5e9;
}

#shell-input {
}

#shell-output {
}
