/* .border {
  border: 1px solid red;
} */

body {
  display: flex;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: var(--sidebar-width);
  height: 100vh;
  padding: 2rem;
  background-color: var(--secondary-dark);
  border-right: 1px solid var(--primary);
}

.nav-icon {
  margin-right: 10px;
  fill: var(--secondary-dark);
}

.social-icon {
  fill: var(--primary);
}

.border {
  border: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
}

.nav-item {
  padding: 0.5rem;
  color: var(--secondary-foreground);
}

.nav-item:hover,
.nav-item:focus,
.nav-item:hover > .nav-icon {
  color: var(--primary);
  fill: var(--primary);
}

main {
  width: 100%;
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  padding: 4rem;

  background-color: var(--secondary);
  color: var(--secondary-foreground);
}
